---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import TextBlock from '../components/TextBlock.astro';
import SpotifyArtist from '../components/SpotifyArtist.astro';
import MyFooter from '../components/MyFooter.astro';
import AlbumList from '../components/AlbumList.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Hero />
	<div class="flex">
		<div class="w-3/5 p-4">
			<TextBlock text="Soda Stereo es una banda de rock argentina formada en 1982 originalmente por el cantante y guitarrista Gustavo Cerati, el bajista Zeta Bosio y el baterista Charly Alberti. Es considerada por un sector de la crítica especializada como la banda más importante, popular e influyente del rock en español de todos los tiempos y una leyenda de la música latinoamericana. Fueron el primer grupo de habla hispana en conseguir un éxito masivo en Latinoamérica y tuvieron un papel muy importante en el desarrollo y la difusión del rock latinoamericano y el rock en español durante los años 80 y los 90. Durante su carrera, fueron vanguardistas y marcaron tendencia en Latinoamérica, en la que protagonizaron diversos géneros como la música divertida de sus inicios, la new wave, el dark wave, el hard rock, el rock alternativo y el rock electrónico de sus finales." />
			<AlbumList />
		</div>
		<SpotifyArtist />
		
	</div>
	<MyFooter />
</Layout>
