---
    let client_id = 'd8cb4b8711514d3ba8604a82dfbc8add';
    let client_secret = 'b0d3630766c741b2b749bdc4f4f12338';

    let authOptions = {
    url: 'https://accounts.spotify.com/api/token',
    headers: {
        'Authorization': 'Basic ' + (new Buffer.from(client_id + ':' + client_secret).toString('base64'))
    },
    form: {
        grant_type: 'client_credentials'
    },
    json: true
    };

    const tokenResponse = await fetch(authOptions.url, {
        method: 'POST',
        headers: authOptions.headers,
        body: new URLSearchParams(authOptions.form)
    });
    const token = await tokenResponse.json();
    const spotifyAlbumsResponse = await fetch('https://api.spotify.com/v1/artists/7An4yvF7hDYDolN4m5zKBp/albums?limit=10', {
        headers: {
            Authorization: 'Bearer ' + token.access_token
        } 
    });
    const spotifyAlbums = await spotifyAlbumsResponse.json();
    const spotifyAlbumsResponse2 = await fetch('https://api.spotify.com/v1/artists/7An4yvF7hDYDolN4m5zKBp/albums?limit=10&offset=10', {
        headers: {
            Authorization: 'Bearer ' + token.access_token
        } 
    });
    const spotifyAlbums2 = await spotifyAlbumsResponse2.json();
    let allAlbums = [...spotifyAlbums.items, ...spotifyAlbums2.items];
    allAlbums = allAlbums.reverse();
---

<div class="w-full flex flex-1 overflow-hidden p-4">
    <ul class="space-x-5 albumList">
        {[...allAlbums, ...allAlbums].map((album) => {
            return (
            <a href={album.external_urls.spotify} target="_blank">
                <li class="w-1 flex-shrink-0" style="width: 200px;">
                    <div class="p-3 rounded-lg album border-2 border-solid hover:scale-101 transition-transform duration-300">
                        <img src={album.images[0].url} alt={album.name} width="100%">
                        <p class="text-center">{new Date(album.release_date).getFullYear()}</p>
                        <p class="text-center text-gray-800">{album.name}</p>
                    </div>
                    
                </li>
            </a>
                
        )})}
    </ul>
</div>

<style>
    .album {
        background-color: #fbfbfb;
        border-color: #f0f0f0;
    }
    .album:hover {
        background-color: #f0f0f0;
    }
    .albumList {
        display: flex;
        width: max-content;
        animation: infinite-scroll 20s infinite linear;
    }

    @keyframes infinite-scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
    
</style>