---
    import Integrante from "./Integrante.astro"
---

<footer class="w-full h-20 grid grid-cols-3 col-span-full">
    <div class="flex flex-col items-center justify-center">
        <Integrante nombre="Gustavo Cerati" ig="https://www.instagram.com/cerati/" />
    </div>
    <div class="flex flex-col items-center justify-center">
        <Integrante nombre="Charly Alberti" ig="https://www.instagram.com/charlyalberti/" />
    </div>
    <div class="flex flex-col items-center justify-center">
        <Integrante nombre="Zeta Bosio" ig="https://www.instagram.com/zbosio/" />
    </div>
</footer>